.download{
    &-zone{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    &-content{
        display: flex;
        justify-content: center;
    }
    &-section{
        display: flex;
        flex-direction: column;
        &-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-title{
                font-size: 40px;
                font-weight: 800;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 15px;
                
            }
            .editor-version{
                margin-top: 35px;
            }
        }
    }
    &-btn-group{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    &-btn-item{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:10px;
        padding-right: 10px;
        p{
            text-align: center;
        }
        .download-button-hash{
            font-size: 14px;
            color: #000;
            font-weight: 500;
            margin-top: 10px;
        }
    }

    &-button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3ABEEF;
        padding-left: 10px;
        padding-right: 20px;
        border-radius: 10px;
        cursor: pointer;
        min-width: 220px;

        p{
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            padding-left: 10px;
        }


        
        &-description{
            margin-top: 10px;
            font-size: 16px;
        }
    }

    &-button_alink{
        width: fit-content;
        
    }
    &-button:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }
    
    &-button:active:hover{
        transform: scale(0.95);
    }

    &-feature{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: -90px;
        

        img{
           
        }
    }

    &-requirement{
        margin-top: 40px;
        text-align: center;
        .requirement-description{
            text-align: center;
            font-size: 15px;
        }
        .requirement-link{
            display: block;
            text-align: center;
            color: #4e2672;
            font-size: 15px;
        }
    }

    &-changelog{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 35px;

        .changelog-title{
            font-size: 15px;
        }
        .changelog-date{
            font-weight: 600;
            font-size: 15px;
        }
        .changelog-list{
            max-width: 470px;
            margin-bottom: 30px;
        }
    }

    &-feature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        .feature-title{
            font-size: 24px;
            font-weight: 600;
        }

        .feature-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 30px;
            
            .feature-item{
                width: 420px;
                height: 390px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                background-color: #f9f9f9;
                margin-left:10px;
                margin-right:10px;
                margin-bottom: 30px;
                
                &>div {
                    padding: 19px;
                }
                img{
                   border-radius: 5px 5px 0px 0px;
                }

                .feature-item-title{
                    color: #505052;
                    font-family: "Montserrat";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                }
                .feature-item-content{
                    color: #505052;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-top: 13px;
                }
            
            }

            .feature-item:hover{
                transform: scale(1.02);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
            }
        }

    }

    &-confirm{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .download-thanks{
           
            border-bottom: solid 1px #505052;
            width: fit-content;
            padding-bottom: 10px;
            .thanks{
                font-weight: 600;
                font-size: 40px;
            }
        }
        .try-again{
            margin-top: 10px;
            text-align: center;
            a{
                color: #79cff3;
                text-decoration: underline;
            }
        }
    }

    
}